DB_CONNECTION_STRING=mysql+mysqlconnector://root@localhost/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/main.py
FLASK_ENV=development
ACCESS_TOKEN="TEST-8257041865871296-101617-715fd48707294f80672bc4f96ebf2c8a-155935251"